.footer {
  display: block;
  position: relative;
  margin-top:20px
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
}

img {
  width: 100%;
}

.footer ul {
  display: flex;
  position: absolute;
  margin: 5em 6em 5em;
}

.footer div {
  justify-content: right;
  display: flex;
}

.footer p {
  position: absolute;
  margin: 5em;
  color: rgb(3, 28, 44);
  font-size: 1em;
  font-family: "Swanky and Moo Moo", cursive;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .footer ul {
   margin: 2em;
  }

  .footer p{
    margin: 2em;
    font-size: 0.8em;
  }
}
