.botao {
  background-color: #a020f0;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  padding: 32px;
  border: none;
  cursor: pointer;
  color: #ffff;
  margin: 32px 0;
}

.botao:hover {
  color: #fafa5d;
}
